@charset "utf-8";
.viewInTransition {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-transition-timing-function: linear;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
.hideBackface {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.box-sizing {
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.centerY {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.centerX {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.centerXY {
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.blink {
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
}
.clearAnimation {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: none;
  animation: none;
}
.clearAnimation {
  -webkit-animation: none;
  animation: none;
}
@-webkit-keyframes fade-in {
  100% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  100% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1;
  }
}
@keyframes fade-in {
  100% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .9;
  }
  100% {
    opacity: .2;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .9;
  }
  100% {
    opacity: .2;
  }
}
/**********       EASING       **********/
/* CSS Document */
/**********       BASE        **********/
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fef5b9;
}
html a {
  color: #F1734C;
  text-decoration: none;
  font-size: 1em;
}
html a:visited {
  color: #F1734C;
}
html a:hover {
  color: #fef5b9;
}
html a:focus {
  outline: thin dotted;
}
html a:hover,
html a:active {
  outline: 0;
}
body {
  font-size: 1em;
  line-height: 1.4;
  font-size: 1vw;
  font-family: 'Clarendon W01 Light 692104';
  letter-spacing: .01rem;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#43191d+0,6a2d28+100 */
  background: #43191d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #43191d 0%, #6a2d28 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #43191d 0%, #6a2d28 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #43191d 0%, #6a2d28 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43191d', endColorstr='#6a2d28', GradientType=0);
  /* IE6-9 */
}
@media (max-width: 700px) {
  body {
    font-size: 2vw;
    font-family: 'Clarendon W01 Light 692104';
  }
}
.touch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}
/* ===== Primary Styles ========================================================
   Author: Nick Jones / The Experiment
   ========================================================================== */
.content {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 4% 10%;
}
@media (max-width: 700px) {
  .content {
    padding: 7% 5%;
  }
}
header {
  width: 100%;
  height: 100px;
  text-align: center;
}
.tagline {
  font-size: 4.2em;
  font-family: 'Clarendon W01 Light 692104';
  line-height: 1em;
  padding-bottom: 1em;
}
.tagline img {
  position: relative;
  top: -4px;
  left: 10px;
}
.tagline .window-years {
  color: #F1734C;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Clarendon W01 Bold 692098';
  font-weight: 100;
  line-height: .8em;
}
h1 {
  font-size: 6em;
  position: relative;
  width: 50%;
  margin-bottom: 77px;
  top: 0;
  opacity: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: fade-in 1s 0.4s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: fade-in 1s 0.4s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: fade-in 1s 0.4s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media (max-width: 1000px) {
  h1 {
    font-size: 5em;
  }
  h1 .andson {
    display: block;
    float: left;
  }
}
h2 {
  font-size: 2.5em;
  line-height: 1em;
  top: 0;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: fade-in 1s 1s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: fade-in 1s 1s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: fade-in 1s 1s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media (max-width: 1000px) {
  h2 {
    font-size: 3em;
  }
}
h3 {
  font-size: 4em;
  margin-bottom: 20px;
}
.logo {
  position: relative;
  margin-top: 30px;
  margin-bottom: 80px;
  opacity: 0;
  top: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: fade-in 1s 0.2s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: fade-in 1s 0.2s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: fade-in 1s 0.2s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
p {
  position: relative;
  top: 0;
  opacity: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: fade-in 1s 0.6s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: fade-in 1s 0.6s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: fade-in 1s 0.6s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 1.3em;
  font-family: 'Clarendon W01 Light 692104';
  line-height: 1.5em;
}
@media (max-width: 1000px) {
  p {
    width: 100%;
    font-size: 1.5em;
  }
}
.small-text {
  font-size: .8rem;
  letter-spacing: .04rem;
}
.founder-twitter path {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
}
.founder-twitter:hover path {
  fill: #F1734C;
}
.twitter,
.medium {
  position: fixed;
  right: 6.5%;
  bottom: 100px;
}
.twitter path,
.medium path {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
}
.twitter:hover path,
.medium:hover path {
  fill: #F1734C;
}
.twitter {
  bottom: 180px;
}
.btn-signup-holder {
  position: fixed;
  right: 10%;
  top: 6%;
  margin-top: 50px;
  z-index: 2000;
}
@media screen and (max-width: 700px) {
  .btn-signup-holder {
    right: 5%;
  }
}
.btn-signup {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 14px 20px;
  background: #43191d;
  font-family: 'Futura W01 Bold';
  font-size: 0.8em;
  color: #F1734C;
  border: 4px solid #BD2132;
  letter-spacing: .2em;
  line-height: .8em;
  opacity: 0;
  outline: none;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
}
@media screen and (max-width: 700px) {
  .btn-signup {
    font-size: 1.2em;
  }
}
.btn-signup:hover,
.btn-signup:focus {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  background: #BD2132;
  color: #43191d;
}
.timeline {
  position: absolute;
  margin: auto;
  width: 80%;
  height: 35px;
}
@media screen and (max-width: 700px) {
  .timeline {
    width: 90%;
  }
}
.timeline .hashes .hash {
  position: absolute;
  color: #BD2132;
  top: 8px;
  padding-left: 10px;
  border-left: 1px solid #BD2132;
}
.timeline .sliders {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #BD2132;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-transition-timing-function: linear;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
}
.bar {
  width: 100%;
  height: 100%;
}
.age {
  position: absolute;
  font-size: 2.2em;
  z-index: 2;
  color: #fef5b9;
}
.slider {
  position: absolute;
  width: 100px;
  height: 100%;
  cursor: pointer;
}
.slider .age {
  right: 0px;
  width: 300px;
  text-align: right;
}
.slider .drag {
  position: absolute;
  opacity: 0;
  top: -27px;
  color: #F1734C;
  right: 40px;
}
.you-slider {
  width: 25%;
  height: 100%;
}
.you-slider .age {
  right: -1em;
  top: -0.6em;
  width: 2.15em;
  height: 2.15em;
  border: 4px solid #F1734C;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #43191d;
  text-align: center;
  padding-top: .25em;
}
.you-slider .bar {
  background: #F1734C;
}
.name {
  position: absolute;
  font-size: 2.2rem;
  line-height: 1;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
}
.name span {
  outline: none;
  min-width: 50px;
  display: block;
}
.name label {
  position: absolute;
  font-size: .8rem;
  letter-spacing: .05rem;
  top: 40px;
  left: 0;
  width: 200px;
  color: #F1734C;
  opacity: 0;
}
.your-name {
  top: -30px;
  opacity: 0;
  -webkit-animation: fade-in 1s 1s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: fade-in 1s 1s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: fade-in 1s 1s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.your-name span:focus {
  background: rgba(66, 222, 205, 0.7);
}
.son-name {
  top: 44px;
  opacity: 0;
}
.son-slider {
  width: 100px;
  height: 100%;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
.son-slider .drag {
  right: auto;
  left: -12em;
  color: #fef5b9;
}
.son-slider .age {
  left: -70px;
  top: -25px;
  width: 80px;
  height: 80px;
  border: 4px solid #fef5b9;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #43191d;
  text-align: center;
  padding-top: 10px;
}
.son-slider .bar {
  background: #fef5b9;
}
.until {
  position: absolute;
  right: 0;
  text-align: right;
  top: -30px;
  width: 150px;
  color: #F1734C;
}
.window-slider {
  opacity: 0;
  width: 0;
  height: 120px;
  top: -45px;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-transition-timing-function: ease-out;
  -webkit-transition-property: 'width';
  -moz-transition-property: 'width';
  -ms-transition-property: 'width';
  transition-property: 'width';
}
.window-slider .age {
  left: 100%;
  margin-left: 16px;
  color: #BD2132;
}
.window-slider .son-age {
  top: -9px;
}
.window-slider .bar {
  width: 100%;
  background: #BD2132;
  height: 100%;
  position: absolute;
  opacity: .8;
}
.window-slider:after {
  content: "";
  height: 120px;
  border-right: 4px solid #F1734C;
  position: absolute;
  right: 0;
  opacity: 1;
  width: 100%;
}
.continue {
  top: 150px;
  opacity: .1;
  pointer-events: none;
}
.isTyped .your-name span {
  background: transparent;
}
.isTyped .your-name label {
  opacity: 1;
}
.isYouName .son-name {
  opacity: 1;
}
.isYouName .son-name label {
  opacity: 1;
}
.isSonName .continue {
  opacity: 1;
  pointer-events: auto;
}
.isBothNames .sliders {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  -ms-transition-delay: 2s;
  transition-delay: 2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-transition-timing-function: linear;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  opacity: 1;
}
.isBothNames .continue {
  display: none;
}
.isBothNames .name {
  font-size: .8em;
  border: none;
}
.isBothNames .name span {
  opacity: 0;
}
.isBothNames .name label {
  opacity: 0;
}
.isSonAge .son-slider {
  display: block;
  opacity: 1;
  visibility: visible;
}
.isMovingYouAge .you-slider .drag {
  display: none;
}
.isMovingSonAge .drag {
  display: none;
}
.isWindow .window-slider {
  opacity: 1;
}
.particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.particles .particle {
  -webkit-transition-duration: 2.5s;
  -moz-transition-duration: 2.5s;
  -o-transition-duration: 2.5s;
  -ms-transition-duration: 2.5s;
  transition-duration: 2.5s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  transition-transition-timing-function: ease-in;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  width: 15em;
  height: 15em;
  left: 50%;
  margin-left: -100px;
  top: calc(100% - 250px);
  background: #F1734C;
  border: 3px solid #43191d;
  opacity: .03;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
}
.isCountdown .timeline {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-transition-timing-function: linear;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
}
.isCountdown body {
  background: #000;
}
.hash .name {
  display: none;
}
.hash .slider {
  pointer-events: none;
}
.hash .drag {
  display: none;
}
